@import "reset";
@import "variables";
@import "mixins";
@import "fonts";

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    font-size: 1.6rem;
    font-family: 'Karla', sans-serif; 
    overflow-x: hidden; 
  }
  
  .container {
    max-width: 98rem;
    margin: 0 auto;
  }

  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
  }
  
  .col-1 {
    width: 50%;
  }

  h1 {
    font-size: 5.8rem;
    font-family: 'DM Serif Display', serif;
    padding-top: 6rem;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 30%;
      height: 0.1rem;
      background-color: $very-light-gray;
    }
  }

  p {
    margin: 2rem 0;
    line-height: 1.4;
  }

  .button {
    padding: 0.8rem 2rem;
    text-transform: uppercase;
    outline: none;
    cursor: pointer;
  }

  .button-primary {
    background-color: transparent;
    color: $very-light-gray;
    border: 0.1rem solid $very-light-gray;

    &:hover {
      background-color: $very-light-gray;
      color: $very-dark-violet;
      border-color: $very-light-gray;
    }
  }

  // HEADER
  .container-header {
    height: 20vh;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 10;
  }

  .container-logo {
    display: inline-block;
  }

  .nav-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;

    .nav-list-item {
      display: inline-block;
      
      .nav-list-item-link {
        text-decoration: none;
        text-transform: uppercase;
        color: $dark-grayish-violet;
        padding: 0.8rem 2rem;
        cursor: pointer;

        &:hover {
          color: $very-dark-violet;
        }
      }

      .active {
        color: $very-dark-violet;
        border: 0.1rem solid $very-dark-violet;
        outline: none;

        &:hover {
          background-color: $very-dark-violet;
          color: $very-light-gray;
        }
      }
    }
  }

  // INTRO
  .intro {
    height: 90vh;
    display: flex;
    padding: 10rem 0;
    background-color: $very-dark-violet;
    border-top: 0.1rem solid $dark-grayish-violet;

    .container {
      display: flex;
    }

    .intro-content {
      width: 50%;
      color: $very-light-gray;
    }

    .intro-img {
      width: 50%;

      img {
        max-width: 100%;
      }
    }

    .intro-img-top {
      position: absolute;
      top: 10%;
      right: 0;
    }

    .intro-img-bottom {
      position: absolute;
      left: 0;
      bottom: -60%;
    }
  }


  @import "media";